{% extends 'base.html.twig' %}

{% block title %}Gestion des formules
{% endblock %}

{% block body %}
	<div class="page">
		<h1>liste des formules</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Photo</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for formule in formules %}
					<tr>
						<td>{{ formule.id }}</td>
						<td>{{ formule.nom }}</td>
						<td>{{ formule.description }}</td>
						<td>{{ formule.prix }}</td>
						<td>{{ formule.photo }}</td>
						<td>
							<a href="{{ path('app_formule_show', {'id': formule.id}) }}">show</a>
							<a href="{{ path('app_formule_edit', {'id': formule.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_formule_new') }}">Create new</a>

		{# Mise en place en template card groupe à faire avec une boucle #}

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card h-100">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
