{% extends 'base.html.twig' %}

{% block title %}Table index
{% endblock %}

{% block body %}
	<div class="page">
		<h1>Table index</h1>

		<table class="table">
			<thead>
				<tr>
					{# 					<th>Id</th>
																																																												 #}
					<th>Numéro de table</th>
					<th>Nombre de place</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for table in tables %}
					<tr>
						{# 						<td>{{ table.id }}</td>
																																																																								 #}
						<td>{{ table.numero }}</td>
						<td>{{ table.place }}</td>
						<td>
							<a href="{{ path('app_table_show', {'id': table.id}) }}" class="btn btn-light">montrer</a>
							<a href="{{ path('app_table_edit', {'id': table.id}) }}" class="btn btn-warning">éditter</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_table_new') }}" class="btn btn-primary">Créer une nouvelle table</a>
		<div class="emplacement">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for table in tables %}
					<div class="col">
						<div class="card">
							<img src="..." class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Table numéro
									{{ table.numero }}</h5>
								<p class="card-text">Nombre de place
									{{ table.place }}</p>
							</div>
						</div>
					</div>
			{% else %}
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}
