{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="page">
		<h1>User index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Adresse</th>
					<th>Complément</th>
					<th>Date de naissance</th>
					<th>Code postal</th>
					<th>Ville</th>
					<th>Téléphone</th>
					<th>Genre</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.nom }}</td>
						<td>{{ user.prenom }}</td>
						<td>{{ user.adresse }}</td>
						<td>{{ user.complement }}</td>
						<td>{{ user.naissance ? user.naissance|date('d-m-Y') : '' }}</td>
						<td>{{ user.codePostale }}</td>
						<td>{{ user.ville }}</td>
						<td>{{ user.telephone }}</td>
						<td>{{ user.genre }}</td>
						<td>
							<a href="{{ path('app_user_show', {'id': user.id}) }}">montrer</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}">éditer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="14">Aucun enregistrement trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_user_new') }}">Create new</a>
		<div>
		{% endblock %}
